@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

:root {
  --color-text-base: hsl(60, 2%, 89%);
  --color-primary: hsl(333, 71%, 51%);
  --color-secondary: hsl(84, 100%, 59%);
  --color-bg: hsl(0, 0%, 11%);
}
* {
  margin: 0;
  padding: 0;
}
html {
  font-family: 'Nunito Sans', sans-serif;
  color: var(--color-text-base);
  background-color: var(--color-bg);
  scroll-behavior: smooth;
}
body {
  margin: 0;
}

.subtitle {
  font-size: 28px;
  padding-top: 80px;
  margin-bottom: 52px;
}
