---
import Layout from '../layouts/Layout.astro'
import About from '../components/About.astro'
import Project from '../components/Project.astro'
import Skills from '../components/Skills.astro'
import Contact from '../components/Contact.astro'
import Footer from '../components/Footer.astro'
import '../stylesheet/global.css'
import Navbar from '../components/Navbar.astro'
import Main from '../components/Main.astro'
---

<Layout>
  <main class="main-container">
    <Navbar />
    <Main />
    <Project />
    <Skills />
    <About />
    <Contact />
    <Footer />
  </main>
</Layout>

<style>
  .aboutContainer {
    min-height: 500px;
  }

  .main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
</style>
