---
import About from "../components/About.astro"
import Contact from "../components/Contact.astro"
import Hero from "../components/Hero.astro"
import Project from "../components/Project.astro"
import Talks from "../components/Talks.astro"
import Layout from "../layouts/Layout.astro"
---

<Layout>
  <main class="flex flex-col justify-center items-center w-full h-full">
    <Hero />
    <Project />
    <Talks />
    <About />
    <Contact />
  </main>
</Layout>
