---
import Layout from '../layouts/Layout.astro'
import About from '../components/About.astro'
import Project from '../components/Project.astro'
import Skills from '../components/Skills.astro'
import Contact from '../components/Contact.astro'
import Main from '../components/Main.astro'
---

<Layout>
  <main class="flex flex-col justify-center items-center">
    <Main />
    <Project />
    <Skills />
    <About />
    <Contact />
  </main>
</Layout>
