<section class="flex flex-col justify-center items-center max-w-[840px] px-4 mt-28">
  <h3 class="subtitle" id="about">Sobre mí</h3>
  <p class="w-full text-xl mb-5">
    Por más de 14 años lideré el área informática en una productora de medios audiovisuales como sysadmin junto a un
    gran equipo de trabajo.
  </p>
  <p class="w-full text-xl mb-5">
    Luego incursioné con un proyecto industrial, mi propia fábrica de cerveza artesanal, un hobby que se convirtió en
    trabajo.
  </p>
  <p class="w-full text-xl mb-5">
    Ahora, como full-stack developer, regreso a mis raíces con felicidad a una profesión que por circunstancias de la
    vida pospuse.
  </p>
</section>
