<article class="aboutContainer">
  <span class="subtitle" id="about">Acerca de mí</span>
  <p class="textAbout">
    Por más de 14 años lideré el área informática en una productora de medios audiovisuales como sysadmin junto a un
    gran equipo de trabajo.
  </p>
  <p class="textAbout">
    Luego incursioné con un proyecto industrial, mi propia fábrica de cerveza artesanal, un hobby que se convirtió en
    trabajo.
  </p>
  <p class="textAbout">
    Ahora, como full-stack developer, regreso a mis raíces con felicidad a una profesión que por circunstancias de la
    vida pospuse.
  </p>
</article>
<style>
  .aboutContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 720px;
    padding: 30px;
  }
  .textAbout {
    width: 100%;
    font-size: 20px;
    line-height: 26px;
    text-align: left;
    margin-bottom: 22px;
  }
</style>
