<section class="flex flex-col justify-center items-center max-w-5xl px-4 md:mt-28">
  <h4 class="text-3xl md:text-6xl font-bold mb-20 pt-4 max-w-5xl text-balance text-center text-(--color-text-base) scroll-mt-20" id="about">
    <span class="text-primary">Soluciones digitales</span> que no solo funcionan, sino que también son <span class="text-primary">seguras y escalables</span>
  </h4>
  <p class="w-full text-lg mb-5">
    Con más de 15 años de experiencia en tecnología, mi trayectoria abarca desde la administración de sistemas hasta el
    desarrollo full-stack y la ciberseguridad. Me apasiona construir y optimizar sistemas complejos, siempre buscando
    soluciones que sean eficientes, escalables y, sobre todo, seguras.
  </p>
  <p class="w-full text-lg mb-5">
    Como desarrollador freelance, he diseñado e implementado aplicaciones robustas que van desde ERPs de gestión
    integral hasta herramientas avanzadas para la automatización de informes de pentesting.
  </p>
  <p class="w-full text-lg mb-5">
    Actualmente, combino mi perfil de desarrollo con una especialización en ciberseguridad, enfocándome en Pentesting
    Web y API. Realizo auditorías exhaustivas para identificar y explotar vulnerabilidades clave (como OWASP Top 10,
    BOLA, XSS, SQLi), y colaboro estrechamente con equipos para asegurar la implementación de soluciones efectivas y
    mitigar riesgos.
  </p>
</section>
