<article class="aboutContainer">
  <span class="subtitle" id="about">About</span>
  <p class="textAbout">
    Por más de 14 años lideré el área informática en una productora de medios audiovisuales como sysadmin junto a un
    equipo de trabajo.
  </p>
  <p class="textAbout">
    Luego incursioné con un proyecto propio, un hobby que se convirtió en trabajo, fabricar cerveza artesanal. He
    montado un emprendimiento desde cero, esto me hizo aprender nuevas habilidades sobre la industria, producción,
    código alimentario, etc, todo lo necesario para llevar adelante un proyecto de tal envergadura.
  </p>
  <p class="textAbout">
    Ahora, como full-stack developer, regreso a mis raíces con felicidad a una profesión que por circunstancias de la
    vida pospuse.
  </p>
</article>
<style>
  .aboutContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    padding: 30px;
  }
  .textAbout {
    width: 100%;
    font-size: 20px;
    line-height: 28px;
    text-align: left;
    margin-bottom: 32px;
  }
</style>
