<span class="subtitle" id="contact">Contacto</span>
<div class="formContainer">
  <form class="form" action="https://formsubmit.co/9b24781c4d009f5506cdaed5a07315e6" method="POST">
    <label for="nombre">Nombre</label>
    <input class="input" type="text" name="name" placeholder="Nombre" />
    <label for="email">Email</label>
    <input class="input" type="email" name="email" placeholder="Email" />
    <label for="comments">Mensaje</label>
    <textarea name="comments" rows="12" placeholder="Escribe tu mensaje."></textarea>
    <input type="hidden" name="_next" value="https://hugoavila.vercel.app/" />
    <input type="hidden" name="_template" value="box" />
    <input class="button" type="submit" value="Enviar" />
  </form>
</div>

<style>
  .textColor {
    color: var(--color-text-base);
  }
  .formContainer {
    color: #fff;
    max-width: 100%;
  }
  .form {
    max-width: 720px;
    padding: 0px 40px 0 20px;
  }
  .input {
    background-color: var(--color-bg);
    outline: none;
    border: 2px solid var(--color-primary);
    border-radius: 6px;
    width: 100%;
    padding: 12px 10px 12px 10px;
    color: var(--color-text-base);
    font-size: 16px;
    margin-bottom: 20px;
  }
  .input:active {
    background-color: rgba(255, 255, 255, 0.165);
  }
  label {
    color: var(--color-text-base);
  }
  textarea {
    background-color: var(--color-bg);
    color: var(--color-text-base);
    font-size: 16px;
    width: 100%;
    outline: none;
    border: 2px solid var(--color-primary);
    border-radius: 6px;
    padding: 10px;
  }
  .button {
    background-color: var(--color-btn-bg);
    color: var(--color-btn-text);
    padding: 10px 26px 10px 26px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 30px;
    font-weight: 600;
    transition: all 0.3s linear;
    border: 2px solid var(--color-btn-bg);
  }

  .button:hover {
    background-color: var(--color-btn-hover);
    color: var(--color-primary);
    transition: all 0.3s linear;
    border: 2px solid var(--color-btn-border-hover);
  }
  label {
    width: 100%;
    font-size: 18px;
    padding: 6px;
  }
</style>
