<h3 class='subtitle contact' id='contact'>Contact</h3>
<section class='formContainer'>
  <form
    class='form'
    action='https://formsubmit.co/9b24781c4d009f5506cdaed5a07315e6'
    method='POST'
  >
    <label for='name'>Nombre:</label>
    <input
      class='input'
      type='text'
      name='name'
      id='name'
      placeholder='Ej: John Doe'
      required
    />
    <label for='email'>Correo:</label>
    <input
      class='input'
      type='email'
      name='email'
      id='email'
      placeholder='Ej: john@doe.com'
      required
    />
    <label for='comments'>Mensaje:</label>
    <textarea
      name='comments'
      id='comments'
      rows='12'
      placeholder='Escribe tu mensaje.'
      required></textarea>
    <input type='hidden' name='_next' value='https://hugoavila.vercel.app/' />
    <input type='hidden' name='_template' value='box' />
    <button class='button' type='submit'>
      <svg
        width='24px'
        height='24px'
        viewBox='0 0 24 24'
        stroke-width='1.5'
        xmlns='http://www.w3.org/2000/svg'
      >
        <path
          d='M22.152 3.553L11.178 21.004l-1.67-8.596L2 7.898l20.152-4.345zM9.456 12.444l12.696-8.89'
        ></path>
        <defs
          ><clipPath id='send-diagonal_svg__clip0_2476_13290'
            ><path d='M0 0h24v24H0z'></path></clipPath
          ></defs
        >
      </svg> Enviar</button
    >
  </form>
</section>

<style>
  .contact {
    margin-top: 40px;
  }
  .textColor {
    color: var(--color-text-base);
  }
  .formContainer {
    color: #fff;
    max-width: 100%;
  }
  .form {
    max-width: 780px;
    padding: 0px 44px 0 10px;
  }
  label {
    width: 100%;
    font-size: 18px;
    color: var(--color-text-base);
  }
  label,
  input,
  textarea {
    font-family: 'Roboto Mono', sans-serif;
  }
  input {
    background-color: var(--color-bg);
    outline: none;
    border: 2px solid var(--color-primary);
    border-radius: 6px;
    width: 100%;
    padding: 12px 14px;
    color: var(--color-text-base);
    font-size: 1rem;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  input::placeholder {
    color: #959595;
  }
  input:active {
    background-color: rgba(255, 255, 255, 0.165);
  }
  textarea {
    background-color: var(--color-bg);
    color: var(--color-text-base);
    font-size: 1rem;
    width: 100%;
    outline: none;
    border: 2px solid var(--color-primary);
    border-radius: 6px;
    padding: 14px;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  textarea::placeholder {
    color: #959595;
  }
  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
    background-color: var(--color-btn-bg);
    color: var(--color-btn-text);
    padding: 10px 16px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 30px;
    font-weight: 600;
    transition: all 0.3s linear;
    border: 2px solid var(--color-btn-bg);
    fill: none;
    stroke: #fff;
  }

  .button:hover {
    background-color: var(--color-btn-hover);
    color: var(--color-primary);
    transition: all 0.3s linear;
    border: 2px solid var(--color-btn-border-hover);
    fill: none;
    stroke: var(--color-primary);
  }
</style>
