---
import Astrosvg from "./svg/astrosvg.astro"
import Github from "./svg/github.astro"
import Linkedin from "./svg/linkedin.astro"
import Mail from "./svg/mail.astro"
---

<footer class="flex flex-col justify-center items-center pt-24 pb-16 text-sm w-full">
  <p class="flex justify-end items-center gap-1">
    Creado con <span class="block size-4"><Astrosvg /></span>
    <a
      class="text-primary hover:text-[--color-svg]"
      href="https://astro.build/"
      target="_blank"
      rel="noreferrer noopener">Astro</a
    > - repositorio en <a
      class="text-primary hover:text-[--color-svg]"
      href="https://github.com/hugok2k/portfolio-astro"
      target="_blank"
      rel="noreferrer noopener">Github</a
    >
  </p>
  <div class="flex justify-center items-center gap-4 mt-5">
    <a
      class="fill-primary hover:fill-[--color-svg] transition-colors duration-300"
      href="https://www.linkedin.com/in/devhugoavila/"
      target="_blank"
      aria-label="Link a linkedin"
      rel="noreferrer noopener"
    >
      <Linkedin height="28" width="28" />
    </a>
    <a
      class="fill-primary hover:fill-[--color-svg] transition-colors duration-300"
      href="https://github.com/hugok2k"
      target="_blank"
      aria-label="Link a github"
      rel="noreferrer noopener"
    >
      <Github height="28" width="28" />
    </a>
    <a
      class="stroke-primary hover:stroke-[--color-svg] transition-colors duration-300"
      href="mailto:hugoavila.dev@gmail.com"
      target="_blank"
      aria-label="Link a correo"
      rel="noreferrer noopener"
    >
      <Mail />
    </a>
  </div>
</footer>
