<footer class="footer">
  <span class="footerSpan">Todos los derechos son libres :)</span>
  <span class="footerSpan">Repositorio</span>
</footer>
<style>
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    min-height: 200px;
    background-color: rgba(0, 0, 0, 0.1);
    width: 100%;
  }
</style>
