<footer class="footer">
  <span class="footerSpan">Licencia MIT sean libres de utilizar el codigo</span>
  <span class="footerSpan"
    >Repositorio en <a class="licence" href="https://github.com/hugok2k/portfolio-astro" target="_blank">Github</a>
  </span>
</footer>

<style>
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    min-height: 200px;
    background-color: rgba(0, 0, 0, 0.1);
    width: 100%;
  }
  .licence {
    color: var(--color-primary);
    text-decoration: none;
  }
  .licence:hover {
    color: #fff;
  }
</style>
