<footer class="footer">
  <span class="footerSpan">Todos los derechos son libres :)</span>
  <span class="footerSpan">Repositorio</span>
</footer>
<style>
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 250px;
    background-color: var(--color-bg);
  }
</style>
