---
import Linkedin from './svg/linkedin.astro'
import Github from './svg/github.astro'
import Mail from './svg/mail.astro'
---

<footer class='footer'>
  <span class='footerSpan'>Licencia MIT sean libres de utilizar el código</span>
  <span class='footerSpan'
    >Creado en 🚀 <a
      class='licence'
      href='https://astro.build/'
      target='_blank'
      rel='noreferrer noopener'>Astro</a
    > - repositorio en <a
      class='licence'
      href='https://github.com/hugok2k/portfolio-astro'
      target='_blank'
      rel='noreferrer noopener'>Github</a
    >
  </span>
  <div class='socialContainerFooter'>
    <a
      class='svglink'
      href='https://www.linkedin.com/in/devhugoavila/'
      target='_blank'
      rel='noreferrer noopener'
      aria-label='link to linkedin'
    >
      <Linkedin height='28' width='28' />
    </a>
    <a
      class='svglink'
      href='https://github.com/hugok2k'
      target='_blank'
      rel='noreferrer noopener'
      aria-label='link to github'
    >
      <Github height='28' width='28' />
    </a>
    <a
      class='svglinkStroke'
      href='mailto:hugoavila.dev@gmail.com'
      target='_blank'
      aria-label='Link a correo'
      rel='noreferrer noopener'
    >
      <Mail />
    </a>
  </div>
</footer>

<style>
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    min-height: 200px;
    background-color: var(--color-bg-footer);
    width: 100%;
    font-size: 14px;
  }
  .footerSpan {
    color: var(--color-text-base);
    padding: 2px 40px;
    text-align: center;
  }
  .licence {
    color: var(--color-licence);
    text-decoration: none;
  }
  .licence:hover {
    color: var(--color-svg);
  }
  .socialContainerFooter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 20px;
  }
  .svglink {
    fill: var(--color-primary);
    transition: 0.3s;
  }
  .svglink:hover {
    fill: var(--color-svg);
  }
  .svglinkStroke {
    stroke: var(--color-primary);
    transition: 0.3s;
  }
  .svglinkStroke:hover {
    stroke: var(--color-svg);
  }
</style>
