---
import Github from '../components/svg/github.astro'
import Linkedin from '../components/svg/linkedin.astro'
---

<article class='sectionContainer'>
  <picture>
    <img class='imgAvatar' src='/images/avatar.webp' alt='avatar' />
  </picture>
  <h1 class='titleName'>Hola. Soy Hugo</h1>
  <h3 class='textDev'>
    Fullstack developer, con un fuerte interés en la tecnología y la
    programación.
  </h3>
  <div class='socialContainer'>
    <a
      class='svglink'
      href='https://www.linkedin.com/in/devhugoavila/'
      target='_blank'
      aria-label='link to linkedin'
    >
      <Linkedin height='28' width='28' />
    </a>
    <a
      class='svglink'
      href='https://github.com/hugok2k'
      target='_blank'
      aria-label='link to github'
    >
      <Github height='28' width='28' />
    </a>
  </div>
  <a
    class='buttonLanding'
    href='/data/CV-HugoAvila.pdf'
    download='CV-HugoAvila.pdf'
    ><svg
      xmlns='http://www.w3.org/2000/svg'
      fill='none'
      viewBox='0 0 24 24'
      stroke-width='1.5'
      width='24px'
    >
      <path
        stroke-linecap='round'
        stroke-linejoin='round'
        d='M3 16.5v2.25A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75V16.5M16.5 12L12 16.5m0 0L7.5 12m4.5 4.5V3'
      ></path>
    </svg>
    Descarga mi CV</a
  >
</article>

<style>
  .sectionContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
    width: 100%;
    max-width: 880px;
  }
  .imgAvatar {
    border-radius: 50%;
    width: 200px;
    height: 200px;
  }
  .titleName {
    font-size: 3.75rem;
    font-weight: 600;
    font-style: normal;
    text-align: center;
  }
  .textDev {
    font-size: 1.25rem;
    text-align: center;
    font-weight: 400;
    padding: 0 20px;
  }
  .socialContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    gap: 20px;
  }
  .svglink {
    fill: var(--color-primary);
    transition: 0.3s;
  }
  .svglink:hover {
    fill: var(--color-svg);
  }
  .buttonLanding {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: var(--color-btn-bg);
    color: var(--color-btn-text);
    padding: 10px 12px 10px 12px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 30px;
    font-weight: 600;
    transition: all 0.3s linear;
    stroke: #fff;
    border: 2px solid var(--color-btn-bg);
  }
  .buttonLanding:hover {
    background-color: var(--color-btn-hover);
    color: var(--color-primary);
    transition: all 0.3s linear;
    border: 2px solid var(--color-btn-border-hover);
    stroke: var(--color-primary);
  }
  @media (max-width: 500px) {
    .imgAvatar {
      width: 160px;
      height: 160px;
      margin-bottom: 20px;
    }
    .titleName {
      font-size: 2.6rem;
      margin-bottom: 10px;
    }
    .textDev {
      font-size: 1rem;
      width: 340px;
    }
  }
</style>
