---
import Menu from './svg/menu.astro'
---

<header class="headerContainer">
  <nav class="nav">
    <a class="textLogo" href="#"><span class="colorBra">{'{'}</span> HA <span class="colorBra">{'}'}</span></a>
    <a class="navToggle">
      <Menu />
    </a>
    <div class="menu" id="menu">
      <a class="btnNavbar" href="#project" id="linkProject"> .project<span class="colorBra">()</span></a>
      <a class="btnNavbar" href="#skills" id="linkSkills"> .skills<span class="colorBra">()</span></a>
      <a class="btnNavbar" href="#about" id="linkAbout"> .about<span class="colorBra">()</span></a>
      <a class="btnNavbar" href="#contact" id="linkContact"> .contact<span class="colorBra">()</span></a>
    </div>
  </nav>
</header>
<style>
  .fa-bars {
    color: var(--color-primary);
    font-size: 30px;
    padding: 0 10px 0 10px;
    transition: all 0.3s linear;
  }
  .fa-bars:hover {
    color: var(--color-secondary);
    transition: all 0.3s linear;
  }
  .headerContainer {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    /* background-color: rgba(0, 0, 0, 0.4); */
    /* backdrop-filter: blur(5px); */
  }
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 32px 10px 26px;
    font-weight: 600;
    background-color: var(--color-bg);
    max-width: 1000px;
    margin: 0 auto;
  }
  .colorBra {
    color: var(--color-primary);
    transition: color 0.3s;
  }
  .navToggle {
    display: none;
    cursor: pointer;
    fill: var(--color-primary);
  }
  .navToggle:hover {
    fill: #fff;
  }
  .textLogo {
    font-family: Teko, sans-serif;
    font-size: 30px;
    font-weight: 400;
    transition: color 0.3s;
  }
  .textLogo:hover {
    color: var(--color-primary);
  }
  .textLogo:hover .colorBra {
    color: #fff;
  }
  .menu {
    display: flex;
    flex-direction: row;
    background-color: var(--color-bg);
  }
  .btnNavbar {
    margin-left: 20px;
    /* border-left: 2px solid var(--color-primary); */
    padding-left: 8px;
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    transition: color 0.3s;
  }
  .btnNavbar:hover {
    margin-left: 20px;
    color: var(--color-primary);
  }
  .btnNavbar:hover .colorBra {
    color: #fff;
  }

  @media (max-width: 768px) {
    .menu {
      flex-direction: column;
      position: fixed;
      align-items: center;
      left: 100%;
      top: 63px;
      width: 100%;
      height: calc(100% - 63px);
      padding-top: 60px;
      transition: left 0.3s;
      font-size: 40px;
    }
    .btnNavbar {
      padding: 20px;
      border: none;
      margin: 0;
    }
    .btnNavbar:hover {
      margin: 0px;
    }
    .navToggle {
      display: block;
    }
    .menuOn {
      left: 0;
    }
    .menuOff {
      left: 100%;
    }
  }
  a {
    text-decoration: none;
    color: var(--color-text-base);
  }
  a:visited {
    color: var(--color-text-base);
  }
</style>
<script>
  const navToggle = document.querySelector('.navToggle')
  const navMenu = document.querySelector('#menu')
  const linkAbout = document.querySelector('#linkAbout')
  const linkSkills = document.querySelector('#linkSkills')
  const linkProject = document.querySelector('#linkProject')
  const linkContact = document.querySelector('#linkContact')
  navToggle.addEventListener('click', () => {
    navMenu.classList.toggle('menuOn')
  })

  linkAbout.addEventListener('click', () => {
    navMenu.classList.toggle('menuOn')
  })
  linkProject.addEventListener('click', () => {
    navMenu.classList.toggle('menuOn')
  })
  linkSkills.addEventListener('click', () => {
    navMenu.classList.toggle('menuOn')
  })
  linkContact.addEventListener('click', () => {
    navMenu.classList.toggle('menuOn')
  })
</script>
