---
import Card from "./Card.astro";
---

<span class="subtitle" id="skills">Project</span>
<article class="skillContainer">
  <Card
    href="https://github.com/PF-Musicfy/app-Musicfy"
    title="Musicfy APP"
    body="Proyecto final en el bootcamp full-stack en Henry. Aplicación streaming de música."
    image="https://res.cloudinary.com/hugok2k/image/upload/c_scale,w_350/v1663727273/Portfolio%20Astro%20HEA/musicfy_ziumta.png"
  />
  <Card
    href="https://github.com/hugok2k/PI-Henry-Food"
    title="Musicfy APP"
    body="Proyecto individual en el bootcamp full-stack en Henry. Sitio web de recetas utilizando una API"
    image="https://res.cloudinary.com/hugok2k/image/upload/c_scale,w_350/v1663727273/Portfolio%20Astro%20HEA/pihenry_p6tds1.png"
  />
  <Card
    href="https://github.com/hugok2k/CSS-ZeldaTriforceMarks"
    title="Zelda Triforce Mark"
    body="Dibujo realizado en puro CSS"
    image="https://res.cloudinary.com/hugok2k/image/upload/c_scale,w_350/v1663729984/Portfolio%20Astro%20HEA/zelda1_fokupo.png"
  />
  <Card
    href="https://github.com/hugok2k/CSS-ZeldaTriforce"
    title="Zelda Triforce Emblem"
    body="Dibujo realizado en puro CSS"
    image="https://res.cloudinary.com/hugok2k/image/upload/c_scale,w_350/v1663729983/Portfolio%20Astro%20HEA/zelda2_cuvxju.png"
  />
  <Card
    href="https://github.com/hugok2k/CSS-ZeldaSheikah"
    title="Zelda Emblema Sheikah"
    body="Dibujo realizado en puro CSS"
    image="https://res.cloudinary.com/hugok2k/image/upload/c_scale,w_350/v1663730785/Portfolio%20Astro%20HEA/zelda3_y5lffg.png"
  />
  <Card
    href="https://github.com/hugok2k/python-ahorcado"
    title="Juego Ahorcado"
    body="Juego realizado en Python para jugarlo en consola"
    image="https://res.cloudinary.com/hugok2k/image/upload/c_scale,w_350/v1663731511/Portfolio%20Astro%20HEA/ahorcado_gaiuve.png"
  />
  <Card
    href="https://github.com/hugok2k/Python-ppt"
    title="Juego piedra, papel y tijera."
    body="Juego realizado en Python para jugarlo en consola"
    image="https://res.cloudinary.com/hugok2k/image/upload/c_scale,w_350/v1663731511/Portfolio%20Astro%20HEA/ppt_g11iqb.png"
  />
</article>

<style>
  .skillContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1000px;
  }
  .subtitle {
    font-size: 28px;
    margin-top: 80px;
    margin-bottom: 42px;
  }
</style>
