---
import Astrosvg from './svg/astrosvg.astro'
import Postgres from './svg/postgres.astro'
import Javascript from '../components/svg/javascript.astro'
import React from './svg/react.astro'
import Node from './svg/node.astro'
import Typescript from './svg/typescript.astro'
import Next from './svg/next.astro'
import Tailwind from './svg/tailwind.astro'
import Mongodb from './svg/mongodb.astro'
---

<section class="flex flex-col justify-center items-center mt-28 px-4">
  <h3 class="subtitle" id="skills">Habilidades</h3>
  <div class="flex flex-wrap justify-center gap-12 max-w-[840px] box-border">
    <div class="skillIconContainer">
      <Javascript />
      <span>JavaScript</span>
    </div>
    <div class="skillIconContainer">
      <Typescript />
      <span>TypeScript</span>
    </div>
    <div class="skillIconContainer">
      <Next />
      <span>NextJS</span>
    </div>
    <div class="skillIconContainer">
      <React />
      <span>ReactJS</span>
    </div>
    <div class="skillIconContainer">
      <Astrosvg />
      <span>Astro</span>
    </div>
    <div class="skillIconContainer">
      <Node />
      <span>NodeJS</span>
    </div>
    <div class="skillIconContainer">
      <div class="fixSvgTailwind">
        <Tailwind />
      </div>
      <span>Tailwind</span>
    </div>
    <div class="skillIconContainer">
      <Postgres />
      <span>PostgreSQL</span>
    </div>
    <div class="skillIconContainer">
      <Mongodb />
      <span>MongoDB</span>
    </div>
  </div>
</section>

<style>
  .skillIconContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80px;
    text-align: center;
  }
  .fixSvgTailwind {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
  }
</style>
